In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
   host="localhost",
#     host="127.0.0.1",
    port=3306,
    user="root",
    password="AskYoMama",
    database="options_screener"
)

mycursor = mydb.cursor()

In [8]:
mycursor.execute("""CREATE TABLE contracts (
        name VARCHAR(40) PRIMARY KEY,
        ticker VARCHAR(40) NOT NULL,
        type VARCHAR(40) NOT NULL,
        strike DECIMAL(15,2) NOT NULL,
        last DECIMAL(15,2) NOT NULL,
        bid DECIMAL(15,2) NOT NULL,
        ask DECIMAL(15,2) NOT NULL,
        vol DECIMAL(15,2) NOT NULL,
        iv DECIMAL(5,2) NOT NULL,
        expiry DATE NOT NULL)""")

In [6]:
mycursor.execute("""DROP TABLE contracts""")